<footer class="main-footer">
    	<div class="auto-container">
         </div>
         
    	<!--Footer Bottom-->
        <div class="footer-bottom">
        	<div class="row clearfix">
            	<div class="column col-md-6 col-sm-12 col-xs-12">
                	<div class="copyright">(c) Pavel Přibyl 2020</div>
                </div>
                <div class="nav-column col-md-6 col-sm-12 col-xs-12">
                	<ul class="footer-nav">
                    	<li><a href="/">Úvod</a></li>
                        <li><a href="detaily">Detaily</a></li>
                        <li><a href="galerie">Fotogalerie</a></li>
                        <li><a href="kontakt">Kontakt</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>