    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/subpages/<%=menuId%>.png)">
    	<div class="auto-container">
        	<h1><%=page%></h1>
            <ul class="page-breadcrumb">
            	<li><a href="index.html">Úvod</a></li>
                <li><%=page%></li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->