<!--About Section Three-->
<section class="about-section-three">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Title Column-->
            <div class="title-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-column">
                    <h2>Stručný popis domu</h2>
                    <div class="text">Exkluzivně nabízíme k prodeji prostorný rodinný dům v centru obce Modletice, která
                        se nachází mezi Říčany a Jesenicí u Prahy. Zastavěná plocha domu činí 177m<sup>2</sup>. Dům stojí na
                        oploceném pozemku o celkové výměře 1360 m<sup>2</sup>. Stavba je podsklepená. Dům má dva samostatné vchody.
                        Jeden vstup vede do garsoniery, která disponuje verandou, menší koupelnou se sprchovým koutem a
                        WC. Druhý vstup vede do hlavní obytné časti domu přes prostornou verandu (s podlahovým
                        vytápěním), obývacího pokoje s krbem (vstup z pokoje na terasu), kuchyní (samostatná místnost,
                        není kuchyňská linka), dvou ložnic a koupelny s vanou a WC.</div>
                    <a href="detaily" class="theme-btn btn-style-two">Podrobný popis</a>
                </div>
            </div>

            <!--Property Column-->
            <div class="property-info-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-column wow fadeInLeft">
                    <div class="clearfix">

                        <!--Property Info Two-->
                        <div class="property-info-two col-md-4 col-sm-4 col-xs-12">
                            <div class="inner">
                                <span class="icon flaticon-rest"></span>
                                <div class="title">Pokoje</div>
                                <div class="total">04</div>
                            </div>
                        </div>

                        <!--Property Info Two-->
                        <div class="property-info-two col-md-4 col-sm-4 col-xs-12">
                            <div class="inner">
                                <span class="icon flaticon-shower-1"></span>
                                <div class="title">Koupelny</div>
                                <div class="total">02</div>
                            </div>
                        </div>

                        <!--Property Info Two-->
                        <div class="property-info-two col-md-4 col-sm-4 col-xs-12">
                            <div class="inner">
                                <span class="icon flaticon-tray"></span>
                                <div class="title">Kuchyň</div>
                                <div class="total">01</div>
                            </div>
                        </div>

                        <!--Property Info Two-->
                        <div class="property-info-two col-md-4 col-sm-4 col-xs-12">
                            <div class="inner">
                                <span class="icon flaticon-house-2"></span>
                                <div class="title">Vchody</div>
                                <div class="total">02</div>
                            </div>
                        </div>

                        <!--Property Info Two-->
                        <div class="property-info-two col-md-4 col-sm-4 col-xs-12">
                            <div class="inner">
                                <span class="icon flaticon-layers"></span>
                                <div class="title">Poschodí</div>
                                <div class="total">02</div>
                            </div>
                        </div>

                        <!--Property Info Two-->
                        <div class="property-info-two col-md-4 col-sm-4 col-xs-12">
                            <div class="inner">
                                <span class="icon flaticon-garage-1"></span>
                                <div class="title">Garáže</div>
                                <div class="total">02</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End About Section Three-->