    <!--Agents Section-->
    <section class="agents-section">
    	<div class="auto-container">
        
        	<!--Sec Title-->
            <div class="sec-title centered">
            	<h2>Realitní makléřka</h2>
                <div class="text">Lorem ipsum dolor amet af brunch subway tile authentic, chillwave put a <br> bird on it church-key try-hard ramps heirloom.</div>
            </div>
			
            <!--Agents Details-->
            <div class="agents-details-section">
                
                <div class="carousel-outer clearfix">
                    
                    <div class="agent-carousel owl-carousel owl-theme">
                        <div class="agents-slide-item">
                            <div class="inner-box">
                                <div class="row clearfix">
                                    <!--Image Column-->
                                    <div class="image-column col-md-5 col-sm-5 col-xs-12">
                                        <figure class="image">
                                            <img src="images/hana_hoskinsova.jpeg" alt="" />
                                            <!--Social Icon One-->
                                            <ul class="social-icon-one">
                                                <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                                <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                                <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                                            </ul>
                                        </figure>
                                    </div>
                                    <!--Content Column-->
                                    <div class="content-column col-md-7 col-sm-7 col-xs-12">
                                        <div class="inner-column">
                                            <h3>Ing.Hana Hoskinsová</h3>
                                            <div class="text">Lorem ipsum dolor amet tumblr forage fashion axe XOXO copper mug art party blog single-origin coffee shaman. Man bun pabst squid cred whatever DIY meggings woke succulents jianbing ugh.</div>
                                            <ul class="list-style-two">
                                                <li><span class="icon flaticon-telephone"></span>(+02) 05 20 95 5014</li>
                                                <li><span class="icon fa fa-envelope"></span>example.118@domain.com</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                    </div>
                    
                    <div class="row clearfix">
                    	<div class="pull-right col-md-7 col-sm-12 col-xs-12">
                            <div class="thumbs-carousel owl-carousel owl-theme">
                                <!-- <figure class="image"><img src="images/resource/agent-1.jpg" alt=""></figure>
                                <figure class="image"><img src="images/resource/agent-2.jpg" alt=""></figure>
                                <figure class="image"><img src="images/resource/agent-3.jpg" alt=""></figure>
                                <figure class="image"><img src="images/resource/agent-1.jpg" alt=""></figure>
                                <figure class="image"><img src="images/resource/agent-2.jpg" alt=""></figure>
                                <figure class="image"><img src="images/resource/agent-3.jpg" alt=""></figure> -->
                            </div>
                         </div>
                    </div>
                    
                </div>
                
            </div>
            <!--Basic Details-->
            
        </div>
    </section>
    <!--End Agents Section-->