<!--Sidebar Page Container-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Content Side / Blog Classic-->
            <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <div class="blog-detail">
                    <div class="inner-box">
                        <h2>Prostorný rodinný dům se zahradou</h2>

                        <div class="big-image">
                            <img src="images/resource/desc-1.png" alt="" />
                        </div>

                        <div class="text">
                            <p>Prostorný rodinný dům v centru obce Modletice, která se nachází mezi Říčany a Jesenicí u&nbsp;Prahy.
                            Zastavěná plocha domu činí 177m2. Dům stojí na oploceném pozemku o&nbsp;celkové výměře
                            1360 m2.</p>

                            <p>Stavba je podsklepená. Dům má dva samostatné vchody. Jeden vstup vede do
                            garsoniery, která disponuje verandou, menší koupelnou se sprchovým koutem a WC. Druhý vstup
                            vede do hlavní obytné časti domu přes prostornou verandu (s&nbsp;podlahovým vytápěním), obývacího
                            pokoje s&nbsp;krbem (vstup z pokoje na terasu), kuchyní (samostatná místnost, není kuchyňská
                            linka), dvou ložnic a koupelny s vanou a WC.</p>
                            
                            <p>Podlahová plocha prvního patra činí 113m2.
                            Podkroví domu slouží jako půda. Okna - plastová. Podlahy - dlažba, plovoucí podlaha, dřevo.
                            Střecha plechová (z r.2005). Vytápění - elektroakumulačním systémem AKURA (umístěno ve
                            sklepě). Voda - studna. Ohřev vody dvěma bojlery. Veřejná kanalizace. Přípojka plynu před
                            domem. Dům disponuje prostornou garáží a přístřeškem pro další vozidlo. </p>
                            
                            <blockquote>Bydlení v zeleni a klidu. </blockquote>
                            <p>Zahrada poskytuje
                            dostatek stínu v létě, je vzrostlá a udržovaná. Pozemek z jedné strany lemuje malebný
                            Zámecký rybník.</p>
                            <p>V obci se nachází mateřská školka, samoobsluha, hotel s restaurací a řada
                            služeb. Školní docházka a lékařská péče jsou zajištěny v okolních obcích. Perfektní dopravní
                            dostupnost do Prahy ( cca 25 minut), do Říčan 10 minut, do Průhonic 7 minut autem. Autobusem
                            MHD na metro Opatov se dostanete za 20 minut.</p>
                            <p>PENB zatím nebyl
                            zpracován, uvádíme tedy třídu G. Hypotéku Vám rádi zajistíme.</p>
                            
                        </div>
                        
                    </div>

                    

                    <!--Comments Area-->
                    <div class="comments-area">
                        

                        <div class="comment-box">
                            <div class="comment">
                                <div class="author-thumb"><img src="images/resource/author-7.jpg" alt=""></div>
                                <div class="comment-info clearfix"><strong>Více již brzy</strong>
                                </div>
                                <div class="text">Podrobnější informace připravujeme. V případě dotazů prosím kontaktujte makléře.</div>
                            </div>
                        </div>

                        
                    </div>

                </div>
            </div>

            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <!-- <aside class="sidebar">


                    <div class="sidebar-widget popular-category">
                        <div class="sidebar-title">
                            <h3>Categories</h3>
                        </div>
                        <ul class="popular-category-list">
                            <li><a href="#">Duplex Home</a></li>
                            <li><a href="#">Drawing Rooms</a></li>
                            <li><a href="#">Bedrooms</a></li>
                            <li><a href="#">Kitchen Rooms</a></li>
                            <li><a href="#">Bathrooms</a></li>
                            <li><a href="#">Garden Home</a></li>
                            <li><a href="#">Animation Design</a></li>
                        </ul>
                    </div>

                    <div class="sidebar-widget latest-posts">
                        <div class="sidebar-title">
                            <h3>Latest Posts</h3>
                        </div>

                        <article class="post">
                            <figure class="post-thumb"><a href="#"><img src="images/resource/post-thumb-1.jpg"
                                        alt=""></a></figure>
                            <h4><a href="#">Get a Duplex Home with Premium Partition</a></h4>
                            <div class="post-info">Post <span>30 Mar, 18</span></div>
                        </article>

                        <article class="post">
                            <figure class="post-thumb"><a href="#"><img src="images/resource/post-thumb-2.jpg"
                                        alt=""></a></figure>
                            <h4><a href="#">Get a Duplex Home with Premium Partition</a></h4>
                            <div class="post-info">Post <span>30 Mar, 18</span></div>
                        </article>

                        <article class="post">
                            <figure class="post-thumb"><a href="#"><img src="images/resource/post-thumb-3.jpg"
                                        alt=""></a></figure>
                            <h4><a href="#">Get a Duplex Home with Premium Partition</a></h4>
                            <div class="post-info">Post <span>30 Mar, 18</span></div>
                        </article>

                        <article class="post">
                            <figure class="post-thumb"><a href="#"><img src="images/resource/post-thumb-4.jpg"
                                        alt=""></a></figure>
                            <h4><a href="#">Get a Duplex Home with Premium Partition</a></h4>
                            <div class="post-info">Post <span>30 Mar, 18</span></div>
                        </article>

                    </div>

                </aside> -->
            </div>

        </div>
    </div>
</div>