    <!--Measurement Section-->
    <section class="measurement-section gray_bg">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title centered">
            	<h2>Rozměry pokojů</h2>
                <div class="text">... Tady rozměry a popis pokojů, případně i zahrady.</div>
            </div>
			
            <!--Measurement Tabs-->
            <div class="measurement-rooms-tab">
            
                <!--Measurement Tabs-->
                <div class="measurement-tabs tabs-box">
                
                    <!--Tab Btns-->
                    <ul class="tab-btns tab-buttons clearfix">
                        <li data-tab="#drawing" class="tab-btn active-btn"><span class="icon flaticon-livingroom-1"></span> Obývák</li>
                        <li data-tab="#kitchen" class="tab-btn"><span class="icon flaticon-restaurant"></span> Kuchyň</li>
                        <li data-tab="#bedroom" class="tab-btn"><span class="icon flaticon-furniture"></span> Ložnice</li>
                        <li data-tab="#bathroom" class="tab-btn"><span class="icon flaticon-bathtube-with-shower"></span> Koupelny</li>
                        <li data-tab="#garage" class="tab-btn"><span class="icon flaticon-garage-1"></span> Garáže</li>
                        <li data-tab="#garden" class="tab-btn"><span class="icon flaticon-nature"></span> Zahrada</li>
                    </ul>
                    
                    <!--Tabs Container-->
                    <div class="tabs-content">
                        
                        <!--Tab / Active Tab-->
                        <div class="tab active-tab" id="drawing">
                            <div class="content">
                                <div class="row clearfix">
                                	<!--Content Column-->
                                    <div class="content-column col-md-6 col-sm-12 col-xs-12">
                                    	<div class="inner-column">
                                        	<h3>Obývák</h3>
                                            <div class="text">Trust fund 8-bit bitters venmo, synth microdosing tacos pabst gentrify coloring book narwhal sustainable.</div>
                                            <ul class="list-style-one">
                                            	<li><span class="icon flaticon-dimension"></span>Dimension 12,00 Sp.ft</li>
                                                <li><span class="icon flaticon-sofa"></span>01 Sofa set & a Table</li>
                                                <li><span class="icon flaticon-frame"></span>02 Glass windows</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--Image Column-->
                                    <div class="image-column col-md-6 col-sm-12 col-xs-12">
                                    	<div class="image">
                                        	<img src="images/resource/measurement.jpg" alt="" />
                                            <div class="measurement-size"><div class="text">5 x 8 metrů</div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Tab-->
                        <div class="tab" id="kitchen">
                            <div class="content">
                                <div class="row clearfix">
                                    <!--Content Column-->
                                    <div class="content-column col-md-6 col-sm-12 col-xs-12">
                                        <div class="inner-column">
                                            <h3>Kuchyň</h3>
                                            <div class="text">Trust fund 8-bit bitters venmo, synth microdosing tacos pabst gentrify coloring book narwhal sustainable.</div>
                                            <ul class="list-style-one">
                                                <li><span class="icon flaticon-dimension"></span>Dimension 12,00 Sp.ft</li>
                                                <li><span class="icon flaticon-sofa"></span>01 Sofa set & a Table</li>
                                                <li><span class="icon flaticon-frame"></span>02 Glass windows</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--Image Column-->
                                    <div class="image-column col-md-6 col-sm-12 col-xs-12">
                                        <div class="image">
                                            <img src="images/resource/measurement.jpg" alt="" />
                                            <div class="measurement-size"><div class="text">12ft x 10ft</div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Tab-->
                        <div class="tab" id="bedroom">
                            <div class="content">
                                <div class="row clearfix">
                                    <!--Content Column-->
                                    <div class="content-column col-md-6 col-sm-12 col-xs-12">
                                        <div class="inner-column">
                                            <h3>Ložnice</h3>
                                            <div class="text">Trust fund 8-bit bitters venmo, synth microdosing tacos pabst gentrify coloring book narwhal sustainable.</div>
                                            <ul class="list-style-one">
                                                <li><span class="icon flaticon-dimension"></span>Dimension 12,00 Sp.ft</li>
                                                <li><span class="icon flaticon-sofa"></span>01 Sofa set & a Table</li>
                                                <li><span class="icon flaticon-frame"></span>02 Glass windows</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--Image Column-->
                                    <div class="image-column col-md-6 col-sm-12 col-xs-12">
                                        <div class="image">
                                            <img src="images/resource/measurement.jpg" alt="" />
                                            <div class="measurement-size"><div class="text">12ft x 10ft</div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Tab-->
                        <div class="tab" id="bathroom">
                            <div class="content">
                                <div class="row clearfix">
                                    <!--Content Column-->
                                    <div class="content-column col-md-6 col-sm-12 col-xs-12">
                                        <div class="inner-column">
                                            <h3>Koupelny</h3>
                                            <div class="text">Trust fund 8-bit bitters venmo, synth microdosing tacos pabst gentrify coloring book narwhal sustainable.</div>
                                            <ul class="list-style-one">
                                                <li><span class="icon flaticon-dimension"></span>Dimension 12,00 Sp.ft</li>
                                                <li><span class="icon flaticon-sofa"></span>01 Sofa set & a Table</li>
                                                <li><span class="icon flaticon-frame"></span>02 Glass windows</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--Image Column-->
                                    <div class="image-column col-md-6 col-sm-12 col-xs-12">
                                        <div class="image">
                                            <img src="images/resource/measurement.jpg" alt="" />
                                            <div class="measurement-size"><div class="text">12ft x 10ft</div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Tab-->
                        <div class="tab" id="garage">
                            <div class="content">
                                <div class="row clearfix">
                                    <!--Content Column-->
                                    <div class="content-column col-md-6 col-sm-12 col-xs-12">
                                        <div class="inner-column">
                                            <h3>Garáž</h3>
                                            <div class="text">Trust fund 8-bit bitters venmo, synth microdosing tacos pabst gentrify coloring book narwhal sustainable.</div>
                                            <ul class="list-style-one">
                                                <li><span class="icon flaticon-dimension"></span>Dimension 12,00 Sp.ft</li>
                                                <li><span class="icon flaticon-sofa"></span>01 Sofa set & a Table</li>
                                                <li><span class="icon flaticon-frame"></span>02 Glass windows</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--Image Column-->
                                    <div class="image-column col-md-6 col-sm-12 col-xs-12">
                                        <div class="image">
                                            <img src="images/resource/measurement.jpg" alt="" />
                                            <div class="measurement-size"><div class="text">12ft x 10ft</div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Tab-->
                        <div class="tab" id="garden">
                            <div class="content">
                                <div class="row clearfix">
                                    <!--Content Column-->
                                    <div class="content-column col-md-6 col-sm-12 col-xs-12">
                                        <div class="inner-column">
                                            <h3>Zahrada</h3>
                                            <div class="text">Trust fund 8-bit bitters venmo, synth microdosing tacos pabst gentrify coloring book narwhal sustainable.</div>
                                            <ul class="list-style-one">
                                                <li><span class="icon flaticon-dimension"></span>Dimension 12,00 Sp.ft</li>
                                                <li><span class="icon flaticon-sofa"></span>01 Sofa set & a Table</li>
                                                <li><span class="icon flaticon-frame"></span>02 Glass windows</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--Image Column-->
                                    <div class="image-column col-md-6 col-sm-12 col-xs-12">
                                        <div class="image">
                                            <img src="images/resource/measurement.jpg" alt="" />
                                            <div class="measurement-size"><div class="text">12ft x 10ft</div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
             </div>
            
        </div>
    </section>
    <!--End Measurement Section-->