<!--Fluid Section Two-->
<section class="fluid-section-two">
    <div class="outer-container clearfix">
        <!--Image Column-->
        <div class="map-column">
            <!--Map Canvas-->
            <div class="map-canvas"
                data-zoom="12"
                data-lat="49.9709764"
                data-lng="14.5921291"
                data-type="roadmap"
                data-hue="#ffc400"
                data-title="Modletice 21"
                data-icon-path="images/icons/map-marker.png"
                data-content="Modletice 21, 251 01<br><a href='mailto:hoskinsova@reality-proradost.cz'>hoskinsova@reality-proradost.cz</a>">
            </div>

            
        </div>
        <!--Content Column-->
        <div class="content-column">
            <div class="inner-box">
                <h2>V obci a okolí...</h2>
                <div class="text">Přímo v obci se nachází školka, dvě dětská hřiště, obchod, restaurace a kultruní sál.
                    Další občanská vybavenost je pak dostupná v nedalekých obcích - Průhonice (škola, restaurace), Čestlice (škola, nákupní zóna, aquapark), Říčany (nádraží, škola, nemocnice, lékař) a Jesenice (škola, obchodní dům).<br>
                    Z obce do centra Prahy je to pak přibližně 25 minut autem, případně MHD na Jižní město za cca 30 minut.
                </div>
                <div class="row clearfix">
                    <div class="column col-md-6 col-sm-6 col-xs-12">
                        <ul class="list-style-four">
                            <li><span class="icon flaticon-home-1"></span>Školka <strong>100 m</strong></li>
                            <li><span class="icon flaticon-heart-2"></span>Nemocnice <strong>6 km</strong></li>
                            <li><span class="icon flaticon-pencil"></span>Škola <strong>6 km</strong></li>
                            <li><span class="icon flaticon-transport"></span>Letiště <strong>42 km</strong></li>
                        </ul>
                    </div>
                    <div class="column col-md-6 col-sm-6 col-xs-12">
                        <ul class="list-style-four">
                            <li><span class="icon flaticon-tube-train-front-view"></span>Nádraží <strong>6 km</strong></li>
                            <li><span class="icon flaticon-bus"></span>MHD<strong> 100 m</strong></li>
                            <li><span class="icon flaticon-boat"></span>Aquapark <strong>7 km</strong></li>
                            <li><span class="icon flaticon-shopping-bag"></span>Nákupní zóna<strong> 7 km</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Fluid Section Two-->