<!--Fluid Section Two-->
<section class="fluid-section-two">
    <div class="outer-container clearfix">
        <!--Image Column-->
        <div class="map-column">
            <!--Map Canvas-->
            <div class="map-canvas"
                data-zoom="12"
                data-lat="49.9709764"
                data-lng="14.5921291"
                data-type="roadmap"
                data-hue="#ffc400"
                data-title="Modletice 21"
                data-icon-path="images/icons/map-marker.png"
                data-content="Modletice 21, 251 01<br><a href='mailto:info@youremail.com'>info@youremail.com</a>">
            </div>

            
        </div>
        <!--Content Column-->
        <div class="content-column">
            <div class="inner-box">
                <h2>Nearby Places</h2>
                <div class="text">Mumblecore pabst gochujang yuccie fingerstache, before they sold out cred mlkshk poutine af squid. Edison bulb cronut air plant pickled four loko vinyl. Tilde franzen sartorial, williamsburg vape keffiyeh man bun retro butcher. </div>
                <div class="row clearfix">
                    <div class="column col-md-6 col-sm-6 col-xs-12">
                        <ul class="list-style-four">
                            <li><span class="icon flaticon-transport"></span>Airport <strong>10km</strong></li>
                            <li><span class="icon flaticon-resort"></span>Hotel <strong>8km</strong></li>
                            <li><span class="icon flaticon-heart-2"></span>Hospital <strong>14Km</strong></li>
                        </ul>
                    </div>
                    <div class="column col-md-6 col-sm-6 col-xs-12">
                        <ul class="list-style-four">
                            <li><span class="icon flaticon-tube-train-front-view"></span>Train Station <strong>5km</strong></li>
                            <li><span class="icon flaticon-bus"></span>Bus Stand <strong>10km</strong></li>
                            <li><span class="icon flaticon-boat"></span>River Road <strong>2km</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Fluid Section Two-->