<!--Plans Section-->
<section class="plans-section">
    <div class="auto-container">
        <div class="plans-tab tabs-box">
            <div class="row clearfix">
                
                <!--Tite column-->
                <div class="title-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <h2>Property Floor Plan</h2>
                        <div class="text">Retro four loko ethical, distillery lomo meh mixtape vice plaid palo santo live-edge ugh banjo marfa lyft. Pour-over distillery keytar activated charcoal. Snackwave blue bottle bespoke af farm-to-table 3 wolf moon, beard helvetica godard hell of. Schli hot chicken kombucha.</div>
                        <!--Tab Btns-->
                        <ul class="tab-btns tab-buttons clearfix">
                            <li data-tab="#first-floor" class="tab-btn active-btn">1st Floor Layout</li>
                            <li data-tab="#second-floor" class="tab-btn">2nd Floor Layout</li>
                        </ul>
                    </div>
                </div>
                
                <!--Image column-->
                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                    <!--Tabs Container-->
                    <div class="tabs-content">
                        
                        <!--Tab / Active Tab-->
                        <div class="tab active-tab" id="first-floor">
                            <div class="content">
                                <div class="image">
                                    <img src="images/resource/plan-1.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                        
                        <!--Tab-->
                        <div class="tab" id="second-floor">
                            <div class="content">
                                <div class="image">
                                    <img src="images/resource/plan-2.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</section>
<!--End Plans Section-->