<!--Plans Section-->
<section class="plans-section">
    <div class="auto-container">
        <div class="plans-tab tabs-box">
            <div class="row clearfix">

                <!--Tite column-->
                <div class="title-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <h2>Plány podlaží</h2>
                        <div class="text">
                            <ul>
                                <li><strong>Přízemí:</strong> Hlavní obytná část.</li>
                                <li><strong>Patro:</strong> Půda a podkrovní pokoj.</li>
                                <li><strong>Sklepy:</strong> Garáže a sklepní prostory.</li>
                            </ul>
                        </div>
                        <!--Tab Btns-->
                        <ul class="tab-btns tab-buttons clearfix">
                            <li data-tab="#first-floor" class="tab-btn active-btn">Přízemí</li>
                            <li data-tab="#second-floor" class="tab-btn">Patro</li>
                            <li data-tab="#basement" class="tab-btn">Sklepy</li>

                        </ul>
                    </div>
                </div>

                <!--Image column-->
                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                    <!--Tabs Container-->
                    <div class="tabs-content">

                        <!--Tab / Active Tab-->
                        <div class="tab active-tab" id="first-floor">
                            <div class="image gallery-block-two">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="images/plans/prizemi_thumb.png" alt="" />
                                        <!--Overlay Box-->
                                        <div class="overlay-box">
                                            <div class="overlay-inner">
                                                <div class="content">
                                                    <a href="images/plans/prizemi_large.png" data-fancybox="plany"
                                                        data-caption="Přízemí" class="link">
                                                        <span class="icon flaticon-plus"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>

                            </div>
                        </div>

                        <!--Tab-->
                        <div class="tab" id="second-floor">
                            <div class="image gallery-block-two">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="images/plans/puda_thumb.png" alt="" />
                                        <!--Overlay Box-->
                                        <div class="overlay-box">
                                            <div class="overlay-inner">
                                                <div class="content">
                                                    <a href="images/plans/puda_large.png" data-fancybox="plany"
                                                        data-caption="Patro" class="link">
                                                        <span class="icon flaticon-plus"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>

                            </div>
                        </div>

                        <!--Tab-->
                        <div class="tab" id="basement">
                                <div class="image gallery-block-two">
                                    <div class="inner-box">
                                        <figure class="image-box">
                                            <img src="images/plans/sklepy_thumb.png" alt="" />
                                            <!--Overlay Box-->
                                            <div class="overlay-box">
                                                <div class="overlay-inner">
                                                    <div class="content">
                                                        <a href="images/plans/sklepy_large.png" data-fancybox="plany"
                                                            data-caption="Sklepy" class="link">
                                                            <span class="icon flaticon-plus"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </div>
    
                                </div>
                            </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<!--End Plans Section-->