<div class="home-detail">
    <div class="inner">
        <h3>Rodinný dům na prodej</h3>
        <div class="text">Modletice 21, 251 01 Praha-východ</div>
        <ul class="home-list">
            <li>177 m<sup>2</sup><span>Zastavěná plocha</span></li>
            <li>1360 m<sup>2</sup><span>Plocha pozemek</span></li>
            <li>4+1<span>Dispozice</span></li>
        </ul>
        <div class="price"><%=price%>,- Kč</div>
        <div class="btns-box">
            <a href="agents-single.html" class="theme-btn btn-style-one">Kontakt</a>
        </div>
    </div>
</div>