<!DOCTYPE html>
<html>
<head>
    <% include partials/head %> 
</head>

<body>

<div class="page-wrapper">
    <% include partials/menu %>
    
    <% include sections/slider %> 

    <% include sections/about %> 

    <% include sections/plans %> 
    
    <% include sections/measurements %>
   
    <% include sections/nearby %>
    
    <% include sections/gallery %>

    <% include sections/agents %>    
    
    <!--Main Footer-->
    <footer class="main-footer">
    	<div class="auto-container">
         </div>
         
    	<!--Footer Bottom-->
        <div class="footer-bottom">
        	<div class="row clearfix">
            	<div class="column col-md-6 col-sm-12 col-xs-12">
                	<div class="copyright">(c) Pavel Přibyl 2020</div>
                </div>
                <div class="nav-column col-md-6 col-sm-12 col-xs-12">
                	<ul class="footer-nav">
                    	<li><a href="#">Úvod</a></li>
                        <li><a href="#">Detaily</a></li>
                        <li><a href="#">Fotogalerie</a></li>
                        <li><a href="#">Kontakt</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-double-up"></span></div>

<% include partials/scripts %>

</body>
</html>