<!DOCTYPE html>
<html>
<head>
    <% include partials/head %> 
</head>

<body>

<div class="page-wrapper">
    <% include partials/menu %>
    
    <% include sections/slider %> 

    <% include sections/about %> 

    <% include sections/plans %> 
    
    <% include sections/measurements %>
   
    <% include sections/nearby %>
    
    <% include sections/agents %>
    
    <% include sections/gallery %>
    
    <!--Contact Section-->
    <section class="contact-section" style="background-image:url(images/background/1.jpg)">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Info Column-->
                <div class="info-column col-md-4 col-sm-12 col-xs-12">
                	<div class="inner-column wow fadeInLeft">
                    	<h2>Location Details</h2>
                        <ul>
                        	<li><span>Address</span>2560 Lorem Ave, San Diego, USA</li>
                            <li><span>Phone</span>+00 123 456 7898</li>
                            <li><span>Email</span>contact@donmian.com</li>
                            <li><span>Working Hour</span>Monday - Saturday <br> 10:00 - 20:00</li>
                        </ul>
                    </div>
                </div>
                <!--Form Column-->
                <div class="form-column col-md-8 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<h2>Contact With Us</h2>
                        <!--Default Form-->
                        <div class="default-form">
                            <form method="post" action="contact.html">
                                <div class="row clearfix">
                                    <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                        <input type="text" name="text" value="" placeholder="Name" required>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                        <input type="email" name="email" value="" placeholder="Email" required>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 co-xs-12">
                                        <textarea placeholder="Message"></textarea>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 co-xs-12">
                                        <button type="submit" class="theme-btn btn-style-one">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--End Default Form-->
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Contact Section-->
    
    <!--Main Footer-->
    <footer class="main-footer">
    	<div class="auto-container">
         </div>
         
    	<!--Footer Bottom-->
        <div class="footer-bottom">
        	<div class="row clearfix">
            	<div class="column col-md-6 col-sm-12 col-xs-12">
                	<div class="copyright">Designed by <a target="_blank" href="https://themeforest.net/user/yogsthemes/portfolio">YogsThemes</a> | Powered by WordPress</div>
                </div>
                <div class="nav-column col-md-6 col-sm-12 col-xs-12">
                	<ul class="footer-nav">
                    	<li><a href="#">HomE</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Pages</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-double-up"></span></div>

<% include partials/scripts %>

</body>
</html>