<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Sproperty Single House Property HTML Template | About</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<!--Color Switcher Mockup-->
<link href="css/color-switcher-design.css" rel="stylesheet">

<!--Color Themes-->
<link id="theme-color-file" href="css/color-themes/default-theme.css" rel="stylesheet">

<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header-->
    <header class="main-header header-style-three">
    	
        <!-- Main Box -->
    	<div class="main-box">
            <div class="outer-container clearfix">
                <!--Logo Box-->
                <div class="logo-box">
                    <div class="logo"><a href="index.html"><img src="images/logo-3.png" alt=""></a></div>
                </div>
                
                <!--Nav Outer-->
                <div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->    	
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="dropdown"><a href="#">Home</a>
                                    <ul>
                                        <li><a href="index.html">Homepage One</a></li>
                                        <li><a href="index-2.html">Homepage Two</a></li>
                                        <li><a href="index-3.html">Homepage Three</a></li>
                                        <li class="dropdown"><a href="#">Headers Style</a>
                                            <ul>
                                                <li><a href="index.html">Header Style One</a></li>
                                                <li><a href="index-2.html">Header Style Two</a></li>
                                                <li><a href="index-3.html">Header Style Three</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="current dropdown"><a href="#">About Us</a>
                                    <ul>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="agents.html">Agents</a></li>
                                        <li><a href="agents-single.html">Agents Single</a></li>
                                        <li><a href="appointment.html">Appointment</a></li>
                                    </ul>
                                </li>
                                <li><a href="features.html">Features</a></li>
                                <li class="dropdown"><a href="#">Gallery</a>
                                    <ul>
                                        <li><a href="gallery.html">Gallery Fullwidth</a></li>
                                        <li><a href="gallery-grid.html">Gallery Three Column</a></li>
                                        <li><a href="gallery-single.html">Gallery Single</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Blog</a>
                                    <ul>
                                        <li><a href="blog-grid.html">Our Blog</a></li>
                                        <li><a href="blog-detail.html">Blog Detail</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact us</a></li>
                             </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->
                    
                    <!--Options Box-->
                    <div class="options-box">
                        <ul class="options-nav">
                            
                            <!--Search Box-->
                            <li class="search-box-outer">
                                <div class="dropdown">
                                    <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                                    <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                        <li class="panel-outer">
                                            <div class="form-container">
                                                <form method="post" action="blog.html">
                                                    <div class="form-group">
                                                        <input type="search" name="field-name" value="" placeholder="Search Here" required>
                                                        <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="#"><span class="icon fa fa-phone"></span></a></li>
                            <li><a href="#"><span class="icon fa fa-envelope"></span></a></li>
                        </ul>
                    </div>
                    
                </div>
                <!--Nav Outer End-->
                
            </div>
        </div>
    
    	<!--Sticky Header-->
        <div class="sticky-header">
        	<div class="auto-container">
            	
                <div class="outer-container clearfix">
                    <!--Logo Box-->
                    <div class="logo-box pull-left">
                        <div class="logo"><a href="index.html"><img src="images/logo-small.png" alt=""></a></div>
                    </div>
                    
                    <!--Nav Outer-->
                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->    	
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li class="dropdown"><a href="#">Home</a>
                                        <ul>
                                            <li><a href="index.html">Homepage One</a></li>
                                            <li><a href="index-2.html">Homepage Two</a></li>
                                            <li><a href="index-3.html">Homepage Three</a></li>
                                            <li class="dropdown"><a href="#">Headers Style</a>
                                                <ul>
                                                    <li><a href="index.html">Header Style One</a></li>
                                                    <li><a href="index-2.html">Header Style Two</a></li>
                                                    <li><a href="index-3.html">Header Style Three</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="current dropdown"><a href="#">AboutUs</a>
                                        <ul>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="agents.html">Agents</a></li>
                                            <li><a href="agents-single.html">Agents Single</a></li>
                                            <li><a href="appointment.html">Appointment</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="features.html">Features</a></li>
                                    <li class="dropdown"><a href="#">Gallery</a>
                                        <ul>
                                            <li><a href="gallery.html">Gallery Fullwidth</a></li>
                                            <li><a href="gallery-grid.html">Gallery Three Column</a></li>
                                            <li><a href="gallery-single.html">Gallery Single</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Blog</a>
                                        <ul>
                                            <li><a href="blog-grid.html">Our Blog</a></li>
                                            <li><a href="blog-detail.html">Blog Detail</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact us</a></li>
                                 </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->
                        
                    </div>
                    <!--Nav Outer End-->
                    
            	</div>
                
            </div>
        </div>
        <!--End Sticky Header-->
    
    </header>
    <!--End Main Header -->
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/4.jpg)">
    	<div class="auto-container">
        	<h1>About Us</h1>
            <ul class="page-breadcrumb">
            	<li><a href="index.html">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Professional Section-->
    <section class="professional-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Image Column-->
                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                	<div class="image">
                    	<img src="images/resource/image-4.png" alt="" />
                    </div>
                </div>
                
                <!--Content Column-->
                <div class="content-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<h2>Why We Professional</h2>
                        <div class="text">IPhone tote bag before they sold out slow-carb bicycle rights, chillwave bespoke cardigan four dollar toast lyft health goth chambray lumbersexual offal listicle. Four dollar toast readymade mustache four loko. Scenester blue bottle distillery kombucha hashtag tilde. Tousled man bun yr, venmo la croix portland hell of tofu art party polaroid.</div>
                        <a href="#" class="theme-btn btn-style-two">Find In Google</a>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Professional Section-->
    
    <!--About Section Three-->
    <section class="about-section-three alternate">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Title Column-->
                <div class="title-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<h2>Our Property Details</h2>
                        <div class="text">Lorem ipsum dolor amet thundercats cornhole stumptown iceland microdosing you probably haven't heard of them dreamcatcher. Blue bottle edison bulb bitters gentrify kombucha, messenger bag pinterest. Viral marfa copper mug drinking vinegar.</div>
                        <a href="#" class="theme-btn btn-style-two"><span class="flaticon-arrows-1"></span>&nbsp; Brochure</a>
                    </div>
                </div>
                
                <!--Property Column-->
                <div class="property-info-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column wow fadeInRight">
                    	<div class="clearfix">
                        	
                            <!--Property Info Two-->
                            <div class="property-info-two col-md-4 col-sm-4 col-xs-12">
                                <div class="inner">
                                    <span class="icon flaticon-bed"></span>
                                    <div class="title">Bedrooms</div>
                                    <div class="total">05</div>
                                </div>
                            </div>
                            
                            <!--Property Info Two-->
                            <div class="property-info-two col-md-4 col-sm-4 col-xs-12">
                                <div class="inner">
                                    <span class="icon flaticon-shower-1"></span>
                                    <div class="title">Washrooms</div>
                                    <div class="total">03</div>
                                </div>
                            </div>
                            
                            <!--Property Info Two-->
                            <div class="property-info-two col-md-4 col-sm-4 col-xs-12">
                                <div class="inner">
                                    <span class="icon flaticon-tray"></span>
                                    <div class="title">Kitchens</div>
                                    <div class="total">02</div>
                                </div>
                            </div>
                            
                            <!--Property Info Two-->
                            <div class="property-info-two col-md-4 col-sm-4 col-xs-12">
                                <div class="inner">
                                    <span class="icon flaticon-sofa"></span>
                                    <div class="title">Drawingroom</div>
                                    <div class="total">01</div>
                                </div>
                            </div>
                            
                            <!--Property Info Two-->
                            <div class="property-info-two col-md-4 col-sm-4 col-xs-12">
                                <div class="inner">
                                    <span class="icon flaticon-stairs-1"></span>
                                    <div class="title">Stairs</div>
                                    <div class="total">02</div>
                                </div>
                            </div>
                            
                            <!--Property Info Two-->
                            <div class="property-info-two col-md-4 col-sm-4 col-xs-12">
                                <div class="inner">
                                    <span class="icon flaticon-house-2"></span>
                                    <div class="title">garage</div>
                                    <div class="total">01</div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End About Section Three-->
    
    <!--Fun Facts Section-->
    <div class="fact-counter-section" style="background-image:url(images/background/5.jpg)">
        <div class="fact-counter">
            <div class="auto-container">
                <div class="row clearfix">
                
                    <!--Column-->
                    <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                        <div class="inner">
                        	<div class="count-outer count-box">
                            	<span class="count-text" data-speed="2000" data-stop="45">0</span>
                                <h4 class="counter-title">Apartment Sell</h4>
                            </div>
                        </div>
                    </div>
            
                    <!--Column-->
                    <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                        <div class="inner">
                        	<div class="count-outer count-box">
                            	<span class="count-text" data-speed="2500" data-stop="90">0</span>%
                                <h4 class="counter-title">Success Rate</h4>
                            </div>
                        </div>
                    </div>
            
                    <!--Column-->
                    <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                        <div class="inner">
                        	<div class="count-outer count-box">
                            	<span class="count-text" data-speed="2000" data-stop="25">0</span>
                                <h4 class="counter-title">Country Reached</h4>
                            </div>
                        </div>
                    </div>
            
                    <!--Column-->
                    <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                        <div class="inner">
                        	<div class="count-outer count-box">
                            	<span class="count-text" data-speed="3500" data-stop="350">0</span>
                                <h4 class="counter-title">Happy Clients</h4>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!--End Fun Facts Section-->
    
    <!--Specialist Section-->
    <section class="specialist-section">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title centered">
            	<h2>What Our Specialities</h2>
                <div class="text">Lorem ipsum dolor amet af brunch subway tile authentic, chillwave put a <br> bird on it church-key try-hard ramps heirloom.</div>
            </div>
            <div class="row clearfix">
            	
                <!--Specialist Block-->
                <div class="specialist-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box wow fadeInLeft">
                    	<div class="icon-box">
                        	<span class="icon flaticon-house-2"></span>
                        </div>
                        <h3><a href="features.html">Apartment Sell</a></h3>
                        <div class="text">Lorem ipsum dolor amet taiyaki keytar small batch offal lettumami gastropub cliche.</div>
                    </div>
                </div>
                
                <!--Specialist Block-->
                <div class="specialist-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box wow fadeInDown">
                    	<div class="icon-box">
                        	<span class="icon flaticon-rent"></span>
                        </div>
                        <h3><a href="features.html">Rent Facilities</a></h3>
                        <div class="text">Lorem ipsum dolor amet taiyaki keytar small batch offal lettumami gastropub cliche.</div>
                    </div>
                </div>
                
                <!--Specialist Block-->
                <div class="specialist-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box wow fadeInRight">
                    	<div class="icon-box">
                        	<span class="icon flaticon-telemarketer"></span>
                        </div>
                        <h3><a href="features.html">Life Time Support</a></h3>
                        <div class="text">Lorem ipsum dolor amet taiyaki keytar small batch offal lettumami gastropub cliche.</div>
                    </div>
                </div>
                
                <!--Specialist Block-->
                <div class="specialist-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box wow fadeInLeft">
                    	<div class="icon-box">
                        	<span class="icon flaticon-discount"></span>
                        </div>
                        <h3><a href="features.html">Reasonable Price</a></h3>
                        <div class="text">Lorem ipsum dolor amet taiyaki keytar small batch offal lettumami gastropub cliche.</div>
                    </div>
                </div>
                
                <!--Specialist Block-->
                <div class="specialist-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box wow fadeInUp">
                    	<div class="icon-box">
                        	<span class="icon flaticon-gps"></span>
                        </div>
                        <h3><a href="features.html">Perfect Location</a></h3>
                        <div class="text">Lorem ipsum dolor amet taiyaki keytar small batch offal lettumami gastropub cliche.</div>
                    </div>
                </div>
                
                <!--Specialist Block-->
                <div class="specialist-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box wow fadeInRight">
                    	<div class="icon-box">
                        	<span class="icon flaticon-certification-award"></span>
                        </div>
                        <h3><a href="features.html">International License</a></h3>
                        <div class="text">Lorem ipsum dolor amet taiyaki keytar small batch offal lettumami gastropub cliche.</div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Specialist Section-->
    
    <!--Testimonial Section-->
    <section class="testimonial-section">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title centered">
            	<h2>Client’s Feedback</h2>
                <div class="text">Lorem ipsum dolor amet af brunch subway tile authentic, chillwave put a <br> bird on it church-key try-hard ramps heirloom.</div>
            </div>
            
            <div class="three-item-carousel owl-carousel owl-theme">
            	
                <div class="testimonial-block">
                	<div class="inner-box">
                    	<div class="quote-icon">
                        	<span class="icon flaticon-left-quote"></span>
                        </div>
                        <div class="text">Proin lacinia elementum massa et lacinia. Suspendisse placerat elementum nulla a iaculis. Aenean quis mauris nunc. Quisque egestas sapien sed lacinia malesuada.</div>
                        <div class="lower-box">
                        	<div class="lower-inner">
                            	<div class="image"><img src="images/resource/author.jpg" alt="" /></div>
                                <h3>Downeya</h3>
                                <div class="designation">Manager, Designer</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="testimonial-block">
                	<div class="inner-box">
                    	<div class="quote-icon">
                        	<span class="icon flaticon-left-quote"></span>
                        </div>
                        <div class="text">Proin lacinia elementum massa et lacinia. Suspendisse placerat elementum nulla a iaculis. Aenean quis mauris nunc. Quisque egestas sapien sed lacinia malesuada.</div>
                        <div class="lower-box">
                        	<div class="lower-inner">
                            	<div class="image"><img src="images/resource/author-1.jpg" alt="" /></div>
                                <h3>Downeya</h3>
                                <div class="designation">Manager, Designer</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="testimonial-block">
                	<div class="inner-box">
                    	<div class="quote-icon">
                        	<span class="icon flaticon-left-quote"></span>
                        </div>
                        <div class="text">Proin lacinia elementum massa et lacinia. Suspendisse placerat elementum nulla a iaculis. Aenean quis mauris nunc. Quisque egestas sapien sed lacinia malesuada.</div>
                        <div class="lower-box">
                        	<div class="lower-inner">
                            	<div class="image"><img src="images/resource/author-2.jpg" alt="" /></div>
                                <h3>Downeya</h3>
                                <div class="designation">Manager, Designer</div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>
    <!--End Testimonial Section-->
    
    <!--Properties Section-->
    <section class="properties-section">
    	<h2>Our More Properties Sale Open</h2>
    	<div class="four-item-carousel owl-carousel owl-theme">
        	
        	<!--Gallery Block Four-->
        	<div class="gallery-block-four">
            	<div class="inner-box">
                    <div class="image">
                        <img src="images/gallery/19.jpg" alt="" />
                        <div class="overlay-box">
                            <div class="lower-box">
                            	<h3><a href="gallery-single.html">Luxurious Home</a></h3>
                                <div class="location">2560 Lorem Ave, San Diego, USA</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Gallery Block Four-->
        	<div class="gallery-block-four">
            	<div class="inner-box">
                    <div class="image">
                        <img src="images/gallery/20.jpg" alt="" />
                        <div class="overlay-box">
                            <div class="lower-box">
                            	<h3><a href="gallery-single.html">Luxurious Home</a></h3>
                                <div class="location">2560 Lorem Ave, San Diego, USA</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Gallery Block Four-->
        	<div class="gallery-block-four">
            	<div class="inner-box">
                    <div class="image">
                        <img src="images/gallery/21.jpg" alt="" />
                        <div class="overlay-box">
                            <div class="lower-box">
                            	<h3><a href="gallery-single.html">Luxurious Home</a></h3>
                                <div class="location">2560 Lorem Ave, San Diego, USA</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Gallery Block Four-->
        	<div class="gallery-block-four">
            	<div class="inner-box">
                    <div class="image">
                        <img src="images/gallery/22.jpg" alt="" />
                        <div class="overlay-box">
                            <div class="lower-box">
                            	<h3><a href="gallery-single.html">Luxurious Home</a></h3>
                                <div class="location">2560 Lorem Ave, San Diego, USA</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Gallery Block Four-->
        	<div class="gallery-block-four">
            	<div class="inner-box">
                    <div class="image">
                        <img src="images/gallery/19.jpg" alt="" />
                        <div class="overlay-box">
                            <div class="lower-box">
                            	<h3><a href="gallery-single.html">Luxurious Home</a></h3>
                                <div class="location">2560 Lorem Ave, San Diego, USA</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Gallery Block Four-->
        	<div class="gallery-block-four">
            	<div class="inner-box">
                    <div class="image">
                        <img src="images/gallery/20.jpg" alt="" />
                        <div class="overlay-box">
                            <div class="lower-box">
                            	<h3><a href="gallery-single.html">Luxurious Home</a></h3>
                                <div class="location">2560 Lorem Ave, San Diego, USA</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Gallery Block Four-->
        	<div class="gallery-block-four">
            	<div class="inner-box">
                    <div class="image">
                        <img src="images/gallery/21.jpg" alt="" />
                        <div class="overlay-box">
                            <div class="lower-box">
                            	<h3><a href="gallery-single.html">Luxurious Home</a></h3>
                                <div class="location">2560 Lorem Ave, San Diego, USA</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Gallery Block Four-->
        	<div class="gallery-block-four">
            	<div class="inner-box">
                    <div class="image">
                        <img src="images/gallery/22.jpg" alt="" />
                        <div class="overlay-box">
                            <div class="lower-box">
                            	<h3><a href="gallery-single.html">Luxurious Home</a></h3>
                                <div class="location">2560 Lorem Ave, San Diego, USA</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!--End Properties Section-->
    
    <!--Main Footer-->
    <footer class="main-footer">
    	<div class="auto-container">
        
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!--big column-->
                    <div class="big-column col-md-6 col-sm-12 col-xs-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-md-7 col-sm-6 col-xs-12">
                                <div class="footer-widget logo-widget">
									<div class="logo">
                                    	<a href="index.html"><img src="images/footer-logo.png" alt="" /></a>
                                    </div>
                                    <div class="text">Nulla ac nunc eget ante consectetur lobortis a vel orci. Vivamus nibh est condimentum ac metus nec, gravida varius diam.</div>
                                    <!--Social Icon Two-->
                                    <ul class="social-icon-two">
                                        <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-skype"></span></a></li>
                                        <li><a href="#"><span class="fa fa-vimeo-square"></span></a></li>
                                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                            <div class="footer-column col-md-5 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
                                	<div class="footer-title">
                                		<h2>Quick Links</h2>
                                    </div>
                                    <ul class="footer-lists">
                                        <li><a href="#">Service</a></li>
                                        <li><a href="#">Wishlist</a></li>
                                        <li><a href="#">FAQ</a></li>
                                        <li><a href="#">Advance Sarch</a></li>
                                        <li><a href="#">Site Map</a></li>
                                        <li><a href="#">Support</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--big column-->
                    <div class="big-column col-md-6 col-sm-12 col-xs-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                <div class="footer-widget tweet-widget">
                                	<div class="footer-title">
                                		<h2>Twitter Feed</h2>
                                    </div>
                                    <div class="twitter-widget">
                                    	<div class="inner">
                                        	<div class="icon"><span class="fa fa-twitter"></span></div>
                                            <div class="text"><span>@Tanin_JIm</span> Nam ultricies enim ut ex maximus, eu pellentesque urna lacinia blandit urna. <a href="#">http://www.twitterlink.com</a></div>
                                        </div>
                                    </div>
                                    <div class="twitter-widget">
                                    	<div class="inner">
                                        	<div class="icon"><span class="fa fa-twitter"></span></div>
                                            <div class="text"><span>@Tanin_JIm</span> Nam ultricies enim ut ex maximus, eu pellentesque urna lacinia blandit urna. <a href="#">http://www.twitterlink.com</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                <div class="footer-widget gallery-widget">
                                	<div class="footer-title">
                                		<h2>Instagram</h2>
                                    </div>
                                    <div class="widget-content">
                                    	<div class="images-outer clearfix">
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="images/gallery/1.jpg" class="lightbox-image overlay-box" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"></a><img src="images/gallery/footer-thumb-1.jpg" alt=""></figure>
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="images/gallery/2.jpg" class="lightbox-image overlay-box" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"></a><img src="images/gallery/footer-thumb-2.jpg" alt=""></figure>
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="images/gallery/3.jpg" class="lightbox-image overlay-box" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"></a><img src="images/gallery/footer-thumb-3.jpg" alt=""></figure>
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="images/gallery/4.jpg" class="lightbox-image overlay-box" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"></a><img src="images/gallery/footer-thumb-4.jpg" alt=""></figure>
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="images/gallery/1.jpg" class="lightbox-image overlay-box" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"></a><img src="images/gallery/footer-thumb-5.jpg" alt=""></figure>
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="images/gallery/2.jpg" class="lightbox-image overlay-box" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"></a><img src="images/gallery/footer-thumb-6.jpg" alt=""></figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
            
         </div>
         
    	<!--Footer Bottom-->
        <div class="footer-bottom">
        	<div class="row clearfix">
            	<div class="column col-md-6 col-sm-12 col-xs-12">
                	<div class="copyright">Designed by <a target="_blank" href="https://themeforest.net/user/yogsthemes/portfolio">YogsThemes</a> | Powered by WordPress</div>
                </div>
                <div class="nav-column col-md-6 col-sm-12 col-xs-12">
                	<ul class="footer-nav">
                    	<li><a href="#">HomE</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Pages</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-double-up"></span></div>

<!-- Color Palate / Color Switcher -->

<!-- /.End Of Color Palate -->

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/owl.js"></script>
<script src="js/appear.js"></script>
<script src="js/wow.js"></script>
<script src="js/script.js"></script>
<!--Color Switcher-->
<script src="js/color-settings.js"></script>
</body>
</html>