<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Sproperty Single House Property HTML Template | Agents Single</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<!--Color Switcher Mockup-->
<link href="css/color-switcher-design.css" rel="stylesheet">

<!--Color Themes-->
<link id="theme-color-file" href="css/color-themes/default-theme.css" rel="stylesheet">

<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header-->
    <header class="main-header header-style-three">
    	
        <!-- Main Box -->
    	<div class="main-box">
            <div class="outer-container clearfix">
                <!--Logo Box-->
                <div class="logo-box">
                    <div class="logo"><a href="index.html"><img src="images/logo-3.png" alt=""></a></div>
                </div>
                
                <!--Nav Outer-->
                <div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->    	
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="dropdown"><a href="#">Home</a>
                                    <ul>
                                        <li><a href="index.html">Homepage One</a></li>
                                        <li><a href="index-2.html">Homepage Two</a></li>
                                        <li><a href="index-3.html">Homepage Three</a></li>
                                        <li class="dropdown"><a href="#">Headers Style</a>
                                            <ul>
                                                <li><a href="index.html">Header Style One</a></li>
                                                <li><a href="index-2.html">Header Style Two</a></li>
                                                <li><a href="index-3.html">Header Style Three</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="current dropdown"><a href="#">About Us</a>
                                    <ul>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="agents.html">Agents</a></li>
                                        <li><a href="agents-single.html">Agents Single</a></li>
                                        <li><a href="appointment.html">Appointment</a></li>
                                    </ul>
                                </li>
                                <li><a href="features.html">Features</a></li>
                                <li class="dropdown"><a href="#">Gallery</a>
                                    <ul>
                                        <li><a href="gallery.html">Gallery Fullwidth</a></li>
                                        <li><a href="gallery-grid.html">Gallery Three Column</a></li>
                                        <li><a href="gallery-single.html">Gallery Single</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Blog</a>
                                    <ul>
                                        <li><a href="blog-grid.html">Our Blog</a></li>
                                        <li><a href="blog-detail.html">Blog Detail</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact us</a></li>
                             </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->
                    
                    <!--Options Box-->
                    <div class="options-box">
                        <ul class="options-nav">
                            
                            <!--Search Box-->
                            <li class="search-box-outer">
                                <div class="dropdown">
                                    <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                                    <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                        <li class="panel-outer">
                                            <div class="form-container">
                                                <form method="post" action="blog.html">
                                                    <div class="form-group">
                                                        <input type="search" name="field-name" value="" placeholder="Search Here" required>
                                                        <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="#"><span class="icon fa fa-phone"></span></a></li>
                            <li><a href="#"><span class="icon fa fa-envelope"></span></a></li>
                        </ul>
                    </div>
                    
                </div>
                <!--Nav Outer End-->
                
            </div>
        </div>
    
    	<!--Sticky Header-->
        <div class="sticky-header">
        	<div class="auto-container">
            	
                <div class="outer-container clearfix">
                    <!--Logo Box-->
                    <div class="logo-box pull-left">
                        <div class="logo"><a href="index.html"><img src="images/logo-small.png" alt=""></a></div>
                    </div>
                    
                    <!--Nav Outer-->
                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->    	
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li class="dropdown"><a href="#">Home</a>
                                        <ul>
                                            <li><a href="index.html">Homepage One</a></li>
                                            <li><a href="index-2.html">Homepage Two</a></li>
                                            <li><a href="index-3.html">Homepage Three</a></li>
                                            <li class="dropdown"><a href="#">Headers Style</a>
                                                <ul>
                                                    <li><a href="index.html">Header Style One</a></li>
                                                    <li><a href="index-2.html">Header Style Two</a></li>
                                                    <li><a href="index-3.html">Header Style Three</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="current dropdown"><a href="#">AboutUs</a>
                                        <ul>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="agents.html">Agents</a></li>
                                            <li><a href="agents-single.html">Agents Single</a></li>
                                            <li><a href="appointment.html">Appointment</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="features.html">Features</a></li>
                                    <li class="dropdown"><a href="#">Gallery</a>
                                        <ul>
                                            <li><a href="gallery.html">Gallery Fullwidth</a></li>
                                            <li><a href="gallery-grid.html">Gallery Three Column</a></li>
                                            <li><a href="gallery-single.html">Gallery Single</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Blog</a>
                                        <ul>
                                            <li><a href="blog-grid.html">Our Blog</a></li>
                                            <li><a href="blog-detail.html">Blog Detail</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact us</a></li>
                                 </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->
                        
                    </div>
                    <!--Nav Outer End-->
                    
            	</div>
                
            </div>
        </div>
        <!--End Sticky Header-->
    
    </header>
    <!--End Main Header -->
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/4.jpg)">
    	<div class="auto-container">
        	<h1>Agent Profile</h1>
            <ul class="page-breadcrumb">
            	<li><a href="index.html">Home</a></li>
                <li>Agent Profile</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Agent Single Section-->
    <section class="agent-single-section">
    	<div class="auto-container">
        	<div class="row clearfix">
				
                <!--Agent Info Column-->
                <div class="agent-info-column col-md-4 col-sm-12 col-xs-12">
                	<div class="inner-column">
                        <div class="image">
                            <img src="images/resource/team-9.jpg" alt="" />
                        </div>
                        <h3>Jonathon Smith</h3>
                        <div class="designation">House Builder Agent</div>
                        <ul class="list-style-seven">
                            <li><span class="icon flaticon-telephone"></span>(+02) 05 20 95 5014</li>
                            <li><span class="icon fa fa-envelope"></span>example.118@domain.com</li>
                        </ul>
                        <!--Social Icon Five-->
                        <ul class="social-icon-five">
                            <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                            <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                        </ul>
                        <div class="btns-box">
                            <a href="#" class="theme-btn btn-style-two">Get schedule</a>
                            <a href="#" class="theme-btn btn-style-one">Live Chat</a>
                        </div>
                    </div>
                </div>
                
                <!--Agent Content Column-->
                <div class="agent-content-column col-md-8 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    
                    	<div class="text-block">
                            <h2>About Me</h2>
                            <div class="text">
                                <p>Lorem ipsum dolor amet thundercats cornhole stumptown iceland microdosing you probably haven't heard of them dreamcatcher. Blue bottle edison bulb bitters gentrify kombucha, messenger bag pinterest. Viral marfa copper mug drinking vinegar semiotics forage.Scenester blue bottle distillery kombucha hashtag tilde. Tousled man bun yr, venmo la croix portland hell of tofu art party polaroid.</p>
                            </div>
                        </div>
                        
                        <div class="text-block">
                            <h2>My Work Experience</h2>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p>
                                <ul class="experiance-list">
                                	<li><span class="number">2</span> <span class="experiance">Years <br> Experiences</span></li>
                                    <li><span class="number">45</span> <span class="experiance">Project <br> Completed</span></li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="text-block">
                            <h2>Practice Areas</h2>
                            <div class="text">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>
                            </div>
                            <ul class="list-style-eight">
                            	<li>I have lots of experience about home sell</li>
                                <li>My positivity is very high</li>
                                <li>Duplex home & Classic home seller</li>
                                <li>We offer with a big playground home</li>
                            </ul>
                        </div>
                        
                        <!--New Posts-->
                        <ul class="new-posts">
                        	<li><a href="#"><span class="fa fa-angle-left"></span></a></li>
                            <li><a href="#"><span class="fa fa-angle-right"></span></a></li>
                        </ul>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Agent Single Section-->
    
    <!--Main Footer-->
    <footer class="main-footer">
    	<div class="auto-container">
        
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!--big column-->
                    <div class="big-column col-md-6 col-sm-12 col-xs-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-md-7 col-sm-6 col-xs-12">
                                <div class="footer-widget logo-widget">
									<div class="logo">
                                    	<a href="index.html"><img src="images/footer-logo.png" alt="" /></a>
                                    </div>
                                    <div class="text">Nulla ac nunc eget ante consectetur lobortis a vel orci. Vivamus nibh est condimentum ac metus nec, gravida varius diam.</div>
                                    <!--Social Icon Two-->
                                    <ul class="social-icon-two">
                                        <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-skype"></span></a></li>
                                        <li><a href="#"><span class="fa fa-vimeo-square"></span></a></li>
                                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                            <div class="footer-column col-md-5 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
                                	<div class="footer-title">
                                		<h2>Quick Links</h2>
                                    </div>
                                    <ul class="footer-lists">
                                        <li><a href="#">Service</a></li>
                                        <li><a href="#">Wishlist</a></li>
                                        <li><a href="#">FAQ</a></li>
                                        <li><a href="#">Advance Sarch</a></li>
                                        <li><a href="#">Site Map</a></li>
                                        <li><a href="#">Support</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--big column-->
                    <div class="big-column col-md-6 col-sm-12 col-xs-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                <div class="footer-widget tweet-widget">
                                	<div class="footer-title">
                                		<h2>Twitter Feed</h2>
                                    </div>
                                    <div class="twitter-widget">
                                    	<div class="inner">
                                        	<div class="icon"><span class="fa fa-twitter"></span></div>
                                            <div class="text"><span>@Tanin_JIm</span> Nam ultricies enim ut ex maximus, eu pellentesque urna lacinia blandit urna. <a href="#">http://www.twitterlink.com</a></div>
                                        </div>
                                    </div>
                                    <div class="twitter-widget">
                                    	<div class="inner">
                                        	<div class="icon"><span class="fa fa-twitter"></span></div>
                                            <div class="text"><span>@Tanin_JIm</span> Nam ultricies enim ut ex maximus, eu pellentesque urna lacinia blandit urna. <a href="#">http://www.twitterlink.com</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                <div class="footer-widget gallery-widget">
                                	<div class="footer-title">
                                		<h2>Instagram</h2>
                                    </div>
                                    <div class="widget-content">
                                    	<div class="images-outer clearfix">
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="images/gallery/1.jpg" class="lightbox-image overlay-box" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"></a><img src="images/gallery/footer-thumb-1.jpg" alt=""></figure>
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="images/gallery/2.jpg" class="lightbox-image overlay-box" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"></a><img src="images/gallery/footer-thumb-2.jpg" alt=""></figure>
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="images/gallery/3.jpg" class="lightbox-image overlay-box" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"></a><img src="images/gallery/footer-thumb-3.jpg" alt=""></figure>
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="images/gallery/4.jpg" class="lightbox-image overlay-box" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"></a><img src="images/gallery/footer-thumb-4.jpg" alt=""></figure>
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="images/gallery/1.jpg" class="lightbox-image overlay-box" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"></a><img src="images/gallery/footer-thumb-5.jpg" alt=""></figure>
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="images/gallery/2.jpg" class="lightbox-image overlay-box" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"></a><img src="images/gallery/footer-thumb-6.jpg" alt=""></figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
            
         </div>
         
    	<!--Footer Bottom-->
        <div class="footer-bottom">
        	<div class="row clearfix">
            	<div class="column col-md-6 col-sm-12 col-xs-12">
                	<div class="copyright">Designed by <a target="_blank" href="https://themeforest.net/user/yogsthemes/portfolio">YogsThemes</a> | Powered by WordPress</div>
                </div>
                <div class="nav-column col-md-6 col-sm-12 col-xs-12">
                	<ul class="footer-nav">
                    	<li><a href="#">HomE</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Pages</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-double-up"></span></div>

<!-- Color Palate / Color Switcher -->

<!-- /.End Of Color Palate -->

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/owl.js"></script>
<script src="js/appear.js"></script>
<script src="js/wow.js"></script>
<script src="js/script.js"></script>
<!--Color Switcher-->
<script src="js/color-settings.js"></script>
</body>
</html>