<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Sproperty Single House Property HTML Template | Blog Single</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<!--Color Switcher Mockup-->
<link href="css/color-switcher-design.css" rel="stylesheet">

<!--Color Themes-->
<link id="theme-color-file" href="css/color-themes/default-theme.css" rel="stylesheet">

<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header-->
    <header class="main-header header-style-three">
    	
        <!-- Main Box -->
    	<div class="main-box">
            <div class="outer-container clearfix">
                <!--Logo Box-->
                <div class="logo-box">
                    <div class="logo"><a href="index.html"><img src="images/logo-3.png" alt=""></a></div>
                </div>
                
                <!--Nav Outer-->
                <div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->    	
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="dropdown"><a href="#">Home</a>
                                    <ul>
                                        <li><a href="index.html">Homepage One</a></li>
                                        <li><a href="index-2.html">Homepage Two</a></li>
                                        <li><a href="index-3.html">Homepage Three</a></li>
                                        <li class="dropdown"><a href="#">Headers Style</a>
                                            <ul>
                                                <li><a href="index.html">Header Style One</a></li>
                                                <li><a href="index-2.html">Header Style Two</a></li>
                                                <li><a href="index-3.html">Header Style Three</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">About Us</a>
                                    <ul>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="agents.html">Agents</a></li>
                                        <li><a href="agents-single.html">Agents Single</a></li>
                                        <li><a href="appointment.html">Appointment</a></li>
                                    </ul>
                                </li>
                                <li><a href="features.html">Features</a></li>
                                <li class="dropdown"><a href="#">Gallery</a>
                                    <ul>
                                        <li><a href="gallery.html">Gallery Fullwidth</a></li>
                                        <li><a href="gallery-grid.html">Gallery Three Column</a></li>
                                        <li><a href="gallery-single.html">Gallery Single</a></li>
                                    </ul>
                                </li>
                                <li class="current dropdown"><a href="#">Blog</a>
                                    <ul>
                                        <li><a href="blog-grid.html">Our Blog</a></li>
                                        <li><a href="blog-detail.html">Blog Detail</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact us</a></li>
                             </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->
                    
                    <!--Options Box-->
                    <div class="options-box">
                        <ul class="options-nav">
                            
                            <!--Search Box-->
                            <li class="search-box-outer">
                                <div class="dropdown">
                                    <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                                    <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                        <li class="panel-outer">
                                            <div class="form-container">
                                                <form method="post" action="blog.html">
                                                    <div class="form-group">
                                                        <input type="search" name="field-name" value="" placeholder="Search Here" required>
                                                        <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="#"><span class="icon fa fa-phone"></span></a></li>
                            <li><a href="#"><span class="icon fa fa-envelope"></span></a></li>
                        </ul>
                    </div>
                    
                </div>
                <!--Nav Outer End-->
                
            </div>
        </div>
    
    	<!--Sticky Header-->
        <div class="sticky-header">
        	<div class="auto-container">
            	
                <div class="outer-container clearfix">
                    <!--Logo Box-->
                    <div class="logo-box pull-left">
                        <div class="logo"><a href="index.html"><img src="images/logo-small.png" alt=""></a></div>
                    </div>
                    
                    <!--Nav Outer-->
                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->    	
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li class="dropdown"><a href="#">Home</a>
                                        <ul>
                                            <li><a href="index.html">Homepage One</a></li>
                                            <li><a href="index-2.html">Homepage Two</a></li>
                                            <li><a href="index-3.html">Homepage Three</a></li>
                                            <li class="dropdown"><a href="#">Headers Style</a>
                                                <ul>
                                                    <li><a href="index.html">Header Style One</a></li>
                                                    <li><a href="index-2.html">Header Style Two</a></li>
                                                    <li><a href="index-3.html">Header Style Three</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">AboutUs</a>
                                        <ul>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="agents.html">Agents</a></li>
                                            <li><a href="agents-single.html">Agents Single</a></li>
                                            <li><a href="appointment.html">Appointment</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="features.html">Features</a></li>
                                    <li class="dropdown"><a href="#">Gallery</a>
                                        <ul>
                                            <li><a href="gallery.html">Gallery Fullwidth</a></li>
                                            <li><a href="gallery-grid.html">Gallery Three Column</a></li>
                                            <li><a href="gallery-single.html">Gallery Single</a></li>
                                        </ul>
                                    </li>
                                    <li class="current dropdown"><a href="#">Blog</a>
                                        <ul>
                                            <li><a href="blog-grid.html">Our Blog</a></li>
                                            <li><a href="blog-detail.html">Blog Detail</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact us</a></li>
                                 </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->
                        
                    </div>
                    <!--Nav Outer End-->
                    
            	</div>
                
            </div>
        </div>
        <!--End Sticky Header-->
    
    </header>
    <!--End Main Header -->
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/4.jpg)">
    	<div class="auto-container">
        	<h1>Our Blog Post</h1>
            <ul class="page-breadcrumb">
            	<li><a href="index.html">Home</a></li>
                <li>Single Post</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Content Side / Blog Classic-->
                <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
                	<div class="blog-detail">
						<div class="inner-box">
							<h2>Duplex home purchase for future</h2>
                            <ul class="post-info">
                            	<li>Post time - <span>12:00AM</span></li>
                                <li>Post by - <span>Jhon Doe</span></li>
                            </ul>
                            <div class="big-image">
                            	<img src="images/resource/news-15.jpg" alt="" />
                            </div>
                            <div class="text">
                            	<p>Lorem ipsum is the standard dummy text for many websites. It's origins reside in De finibus bonorum et malorum On the ends of good an evil a philosophical work by Cicero written in 45 BC. Lipsum.com takes the original Latin translation and puts it into a nonsensical order.</p>
                                <p>Jean shorts flannel synth, microdosing fam man bun lo-fi cornhole forage small batch ramps twee photo booth. Sustainable narwhal migas humblebrag, XOXO godard messenger bag brooklyn hella. Celiac tacos pinterest, small batch la croix intelligentsia fanny pack meggings art party bushwick stumptown seitan freegan vape. Live-edge butcher mlkshk trust fund brunch chambray hell of. Raw denim normcore pug, etsy kombucha la croix 90's quinoa irony skateboard pitchfork pinterest twee forage typewriter.</p>
                                <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet tempor tempor. Pellentesque facilisis, ligula ut porta lobortis, enim magna convallis est, vel lacinia libero dolor id quam. Etiam sagittis felis sapien, sed euismod orci sollicitudin nec. Vestibulum sagittis lacus augue, eget rutrum purus sagittis nec.</blockquote>
                                <p>Lorem ipsum dolor amet chartreuse affogato cray pour-over. Messenger bag dreamcatcher pok pok tote bag, flannel activated charcoal PBR&B adaptogen ramps fam pug cronut fanny pack godard. Disrupt twee ennui poke knausgaard unicorn quinoa hashtag whatever food truck raclette 8-bit asymmetrical heirloom palo santo. Bespoke +1 retro fashion axe unicorn williamsburg food truck vaporware. Chambray chicharrones pork belly chia viral la croix.</p>
                            </div>
                            <!--post-share-options-->
                            <div class="post-share-options clearfix">
                                <div class="pull-left">
                                    <ul class="social-icon-four">
                                        <li class="facebook"><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                        <li class="twitter"><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li class="linkedin"><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                        <li class="vimeo"><a href="#"><span class="fa fa-vimeo-square"></span></a></li>
                                    </ul>
                                </div>
                                <div class="pull-right tags"><span class="tag">Tags</span><a href="#">Design</a> <a href="#">Coding</a> <a href="#">Ui</a> <a href="#">Ux</a> <a href="#">Duplex</a></div>
                            </div>
                        </div>
                        
                        <!--Author Box-->
                        <div class="author-box">
                            <div class="author-comment">
                                <div class="inner-box">
                                    <div class="image"><img src="images/resource/author-6.jpg" alt="" /></div>
                                    <h3>Donal Smith</h3>
                                    <div class="designation">Post Editor</div>
                                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta consectetur nisl. Sed at vehicula justo. Nulla ac fermentum lorem. Etiam et auctor ligula, vel tincidunt felis.</div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Comments Area-->
                        <div class="comments-area">
                            <div class="group-title"><h2>01 Comments</h2></div>
                            
                            <div class="comment-box">
                                <div class="comment">
                                    <div class="author-thumb"><img src="images/resource/author-7.jpg" alt=""></div>
                                    <div class="comment-info clearfix"><strong>Kanina Smith</strong><div class="comment-time">3 hours ago</div></div>
                                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet tempor tempor. Pellentesque facilisis, ligula ut porta lobortis, enim magna convallis est.</div>
                                    <a class="theme-btn reply-btn" href="#">Reply</a>
                                </div>
                            </div>
                            
                            <div class="comment-box reply-comment">
                                <div class="comment">
                                    <div class="author-thumb"><img src="images/resource/author-8.jpg" alt=""></div>
                                    <div class="comment-info clearfix"><strong>Donal Smith</strong><div class="comment-time">1 hours ago</div></div>
                                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet tempor tempor. Pellentesque facilisis, ligula ut porta lobortis.</div>
                                    <a class="theme-btn reply-btn" href="#">Reply</a>
                                </div>
                            </div>
                            
                        </div>
                        
                        <!-- Comment Form -->
                        <div class="comment-form">
                                
                            <div class="group-title"><h2>Write Your Comment</h2></div>
                            
                            <!--Comment Form-->
                            <form method="post" action="blog.html">
                                <div class="row clearfix">
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <input type="text" name="username" placeholder="Your Name" required>
                                    </div>
                                    
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <input type="email" name="email" placeholder="Email Address" required>
                                    </div>
                                    
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                        <textarea class="darma" name="message" placeholder="Type Comment"></textarea>
                                    </div>
                                    
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                        <button class="theme-btn btn-style-one" type="submit" name="submit-form">Post Comment</button>
                                    </div>
                                    
                                </div>
                            </form>
                                
                        </div>
                        <!--End Comment Form -->
                        
                    </div>
                </div>
                
                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12">
                	<aside class="sidebar">
						
                        <!-- Search -->
                        <div class="sidebar-widget search-box">
                        	<form method="post" action="contact.html">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="Search..." required>
                                    <button type="submit"><span class="icon fa fa-search"></span></button>
                                </div>
                            </form>
						</div>
                        
                        <!-- Popular Category -->
                        <div class="sidebar-widget popular-category">
                        	<div class="sidebar-title">
                            	<h3>Categories</h3>
                            </div>
                            <ul class="popular-category-list">
                            	<li><a href="#">Duplex Home</a></li>
                                <li><a href="#">Drawing Rooms</a></li>
                                <li><a href="#">Bedrooms</a></li>
                                <li><a href="#">Kitchen Rooms</a></li>
                                <li><a href="#">Bathrooms</a></li>
                                <li><a href="#">Garden Home</a></li>
                                <li><a href="#">Animation Design</a></li>
                            </ul>
						</div>
                        
                        <!-- Latest Posts -->
                        <div class="sidebar-widget latest-posts">
                            <div class="sidebar-title">
                            	<h3>Latest Posts</h3>
                            </div>
							
                            <article class="post">
                            	<figure class="post-thumb"><a href="#"><img src="images/resource/post-thumb-1.jpg" alt=""></a></figure>
                                <h4><a href="#">Get a Duplex Home with Premium Partition</a></h4>
                                <div class="post-info">Post <span>30 Mar, 18</span></div>
                            </article>
                            
                            <article class="post">
                            	<figure class="post-thumb"><a href="#"><img src="images/resource/post-thumb-2.jpg" alt=""></a></figure>
                                <h4><a href="#">Get a Duplex Home with Premium Partition</a></h4>
                                <div class="post-info">Post <span>30 Mar, 18</span></div>
                            </article>
                            
                            <article class="post">
                            	<figure class="post-thumb"><a href="#"><img src="images/resource/post-thumb-3.jpg" alt=""></a></figure>
                                <h4><a href="#">Get a Duplex Home with Premium Partition</a></h4>
                                <div class="post-info">Post <span>30 Mar, 18</span></div>
                            </article>
                            
                            <article class="post">
                            	<figure class="post-thumb"><a href="#"><img src="images/resource/post-thumb-4.jpg" alt=""></a></figure>
                                <h4><a href="#">Get a Duplex Home with Premium Partition</a></h4>
                                <div class="post-info">Post <span>30 Mar, 18</span></div>
                            </article>
                            
						</div>
                        
                    </aside>
                </div>
                
            </div>
        </div>
    </div>
    
    <!--Main Footer-->
    <footer class="main-footer">
    	<div class="auto-container">
        
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!--big column-->
                    <div class="big-column col-md-6 col-sm-12 col-xs-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-md-7 col-sm-6 col-xs-12">
                                <div class="footer-widget logo-widget">
									<div class="logo">
                                    	<a href="index.html"><img src="images/footer-logo.png" alt="" /></a>
                                    </div>
                                    <div class="text">Nulla ac nunc eget ante consectetur lobortis a vel orci. Vivamus nibh est condimentum ac metus nec, gravida varius diam.</div>
                                    <!--Social Icon Two-->
                                    <ul class="social-icon-two">
                                        <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-skype"></span></a></li>
                                        <li><a href="#"><span class="fa fa-vimeo-square"></span></a></li>
                                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                            <div class="footer-column col-md-5 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
                                	<div class="footer-title">
                                		<h2>Quick Links</h2>
                                    </div>
                                    <ul class="footer-lists">
                                        <li><a href="#">Service</a></li>
                                        <li><a href="#">Wishlist</a></li>
                                        <li><a href="#">FAQ</a></li>
                                        <li><a href="#">Advance Sarch</a></li>
                                        <li><a href="#">Site Map</a></li>
                                        <li><a href="#">Support</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--big column-->
                    <div class="big-column col-md-6 col-sm-12 col-xs-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                <div class="footer-widget tweet-widget">
                                	<div class="footer-title">
                                		<h2>Twitter Feed</h2>
                                    </div>
                                    <div class="twitter-widget">
                                    	<div class="inner">
                                        	<div class="icon"><span class="fa fa-twitter"></span></div>
                                            <div class="text"><span>@Tanin_JIm</span> Nam ultricies enim ut ex maximus, eu pellentesque urna lacinia blandit urna. <a href="#">http://www.twitterlink.com</a></div>
                                        </div>
                                    </div>
                                    <div class="twitter-widget">
                                    	<div class="inner">
                                        	<div class="icon"><span class="fa fa-twitter"></span></div>
                                            <div class="text"><span>@Tanin_JIm</span> Nam ultricies enim ut ex maximus, eu pellentesque urna lacinia blandit urna. <a href="#">http://www.twitterlink.com</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                <div class="footer-widget gallery-widget">
                                	<div class="footer-title">
                                		<h2>Instagram</h2>
                                    </div>
                                    <div class="widget-content">
                                    	<div class="images-outer clearfix">
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="images/gallery/1.jpg" class="lightbox-image overlay-box" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"></a><img src="images/gallery/footer-thumb-1.jpg" alt=""></figure>
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="images/gallery/2.jpg" class="lightbox-image overlay-box" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"></a><img src="images/gallery/footer-thumb-2.jpg" alt=""></figure>
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="images/gallery/3.jpg" class="lightbox-image overlay-box" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"></a><img src="images/gallery/footer-thumb-3.jpg" alt=""></figure>
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="images/gallery/4.jpg" class="lightbox-image overlay-box" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"></a><img src="images/gallery/footer-thumb-4.jpg" alt=""></figure>
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="images/gallery/1.jpg" class="lightbox-image overlay-box" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"></a><img src="images/gallery/footer-thumb-5.jpg" alt=""></figure>
                                            <!--Image Box-->
                                            <figure class="image-box"><a href="images/gallery/2.jpg" class="lightbox-image overlay-box" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"></a><img src="images/gallery/footer-thumb-6.jpg" alt=""></figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
            
         </div>
         
    	<!--Footer Bottom-->
        <div class="footer-bottom">
        	<div class="row clearfix">
            	<div class="column col-md-6 col-sm-12 col-xs-12">
                	<div class="copyright">Developed by <a target="_blank" href="https://themeforest.net/user/yogsthemes/portfolio">YogsThemes</a> | Powered by WordPress</div>
                </div>
                <div class="nav-column col-md-6 col-sm-12 col-xs-12">
                	<ul class="footer-nav">
                    	<li><a href="#">HomE</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Pages</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-double-up"></span></div>

<!-- Color Palate / Color Switcher -->

<!-- /.End Of Color Palate -->

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/owl.js"></script>
<script src="js/mixitup.js"></script>
<script src="js/appear.js"></script>
<script src="js/wow.js"></script>
<script src="js/script.js"></script>
<!--Color Switcher-->
<script src="js/color-settings.js"></script>
</body>
</html>