<!--About Section Three-->
<section class="about-section-three">
    <div class="auto-container">
        <div class="row clearfix">
            
            <!--Title Column-->
            <div class="title-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-column">
                    <h2>About Luxurious Home</h2>
                    <div class="text">Suspendisse eleifend, metus vel faucibus accumsan, neque lacus tincidunt lacus, non volutpat est velit ut lorem. Nullam lorem mauris, commodo eu purus ac, blandit hendrerit neque. Praesent non ligula iaculis nulla posuere ultricies.</div>
                    <a href="#" class="theme-btn btn-style-two">Learn More</a>
                </div>
            </div>
            
            <!--Property Column-->
            <div class="property-info-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-column wow fadeInLeft">
                    <div class="clearfix">
                        
                        <!--Property Info Two-->
                        <div class="property-info-two col-md-4 col-sm-4 col-xs-12">
                            <div class="inner">
                                <span class="icon flaticon-bed"></span>
                                <div class="title">Bedrooms</div>
                                <div class="total">05</div>
                            </div>
                        </div>
                        
                        <!--Property Info Two-->
                        <div class="property-info-two col-md-4 col-sm-4 col-xs-12">
                            <div class="inner">
                                <span class="icon flaticon-shower-1"></span>
                                <div class="title">Washrooms</div>
                                <div class="total">03</div>
                            </div>
                        </div>
                        
                        <!--Property Info Two-->
                        <div class="property-info-two col-md-4 col-sm-4 col-xs-12">
                            <div class="inner">
                                <span class="icon flaticon-tray"></span>
                                <div class="title">Kitchens</div>
                                <div class="total">02</div>
                            </div>
                        </div>
                        
                        <!--Property Info Two-->
                        <div class="property-info-two col-md-4 col-sm-4 col-xs-12">
                            <div class="inner">
                                <span class="icon flaticon-sofa"></span>
                                <div class="title">Drawingroom</div>
                                <div class="total">01</div>
                            </div>
                        </div>
                        
                        <!--Property Info Two-->
                        <div class="property-info-two col-md-4 col-sm-4 col-xs-12">
                            <div class="inner">
                                <span class="icon flaticon-stairs-1"></span>
                                <div class="title">Stairs</div>
                                <div class="total">02</div>
                            </div>
                        </div>
                        
                        <!--Property Info Two-->
                        <div class="property-info-two col-md-4 col-sm-4 col-xs-12">
                            <div class="inner">
                                <span class="icon flaticon-garage-1"></span>
                                <div class="title">garage</div>
                                <div class="total">01</div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!--End About Section Three-->